<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head", { title: "Edit PromoCodes" }) %>
</head>

<body>
    <!-- Sidebar -->
    <%- include("../partial/sidebar") %>

        <!-- Main Content -->
        <div class="ml-0 md:ml-64 flex flex-col min-h-screen">
            <!-- Header -->
            <%- include("../partial/header") %>

                <!-- Main Content Area -->
                <div class="container mx-auto py-8 mt-5">
                    <div class="flex flex-col shadow-md mb-5 bg-white rounded-lg p-5">
                        <h1 class="text-4xl font-extrabold mb-4 text-gray-900">
                            Edit PromoCodes
                        </h1>
                        <div class="block my-1">
                            <% if(error.length> 0){ %>
                                <p class="text-red-700 text-xl font-bold my-2">
                                    <%= error %>
                                </p>
                                <% } %>
                        </div>

                        <form action="/admin/promo-codes/<%= promoCode.id %>/update" method="POST">
                            <!-- Code field -->
                            <div class="mb-4">
                                <label for="code" class="block text-sm font-medium text-gray-700">Code:</label>
                                <input id="code" name="code" type="text" value="<%= promoCode?.code %>"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    required />
                            </div>

                            <!-- Discount field -->
                            <div class="mb-4">
                                <label for="discount" class="block text-sm font-medium text-gray-700">Discount:</label>
                                <input id="discount" name="discount" type="number" value="<%= promoCode?.discount %>"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    required />
                            </div>

                            <!-- Select type field -->
                            <div class="mb-4">
                                <label for="type" class="block text-sm font-medium text-gray-700">
                                    Select Type:
                                </label>
                                <select id="type" name="type"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="Percantage" <%=promoCode?.type=='Percantage' ? "selected" : "" %>
                                        >Percantage</option>
                                    <option value="Amount" <%=promoCode?.type=='Amount' ? "selected" : "" %>>Amount
                                    </option>
                                </select>
                            </div>

                            <!-- start date field -->
                            <div class="mb-4">
                                <label for="start_date" class="block text-sm font-medium text-gray-700">Start
                                    Date:</label>
                                <input id="start_date" name="start_date" type="date"
                                    value="<%= promoCode.start_date ? moment(promoCode.start_date).format('YYYY-MM-DD') : '' %>"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
                            </div>

                            <!-- end date field -->
                            <div class="mb-4">
                                <label for="end_date" class="block text-sm font-medium text-gray-700">End
                                    Date:</label>
                                <input id="end_date" name="end_date" type="date"
                                    value="<%= promoCode.end_date ? moment(promoCode.end_date).format('YYYY-MM-DD') : '' %>"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
                            </div>

                            <!-- Submit Button -->
                            <button type="submit"
                                class="inline-flex items-center px-4 py-2 bg-blue-500 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:bg-blue-600">
                                Update
                            </button>
                        </form>
                    </div>
                </div>
        </div>

        <!-- Footer -->
        <%- include("../partial/footer") %>
</body>

</html>