<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head", { title: "PromoCodes List" }) %>
</head>

<body class="bg-gray-100 dark:bg-gray-900 font-sans bg-cover bg-center">
    <!-- Sidebar -->
    <%- include("../partial/sidebar") %>
        <!-- Main Content -->
        <div class="ml-0 md:ml-64 flex flex-col min-h-screen">
            <!-- Header -->
            <%- include("../partial/header") %>
                <!-- Main Content Area -->
                <div class="container mx-auto py-8 mt-5">
                    <div class="flex flex-col shadow-md mb-5 bg-white rounded-lg p-3">
                        <h1 class="text-4xl font-extrabold mb-4 text-gray-900 dark:text-white">
                            PromoCodes List
                        </h1>
                        <nav class="flex mb-4" aria-label="Breadcrumb">
                            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                                <li class="inline-flex items-center">
                                    <a href="/admin"
                                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                        <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10 3.172L17.071 10.243 16.364 10.95 10 4.586 3.636 10.95 2.929 10.243 10 3.172z">
                                            </path>
                                        </svg>
                                        Home
                                    </a>
                                </li>
                                <li aria-current="page">
                                    <div class="flex items-center">
                                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10 3.172l7.071 7.071-1.414 1.414L10 4.586l-5.657 5.657-1.414-1.414L10 3.172z">
                                            </path>
                                        </svg>
                                        <span
                                            class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">PromoCodes
                                            List</span>
                                    </div>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="container shadow-lg bg-white rounded-lg mx-auto px-4 sm:px-8">
                        <!-- Create Button -->
                        <div class="container text-right">
                            <a href="/admin/promo-codes/create"
                                class="inline-flex items-center px-4 my-2 py-2 bg-blue-500 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Create PromoCode
                            </a>
                        </div>
                        <div class="py-8">
                            <div class="overflow-x-auto">
                                <table id="promoCodesTable"
                                    class="min-w-full bg-white border border-gray-200 rounded-lg">
                                    <thead style="background-color: #1f2937">
                                        <tr>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Actions
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                ID
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Code
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Discount
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Type
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Start Date
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                End Date
                                            </th>
                                            <th
                                                class="px-4 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                        <% promoCodes.forEach((promoCode, index)=> { %>
                                            <tr
                                                class="<%= index % 2 === 0 ? 'bg-gray-50' : 'bg-white' %> hover:bg-gray-100">
                                                <td
                                                    class="px-4 py-4 whitespace-nowrap flex items-center gap-4 text-sm text-gray-900">
                                                    <a href="/admin/promo-codes/<%= promoCode.id %>/edit"
                                                        class="text-blue-500 hover:text-blue-700 icon-button"
                                                        title="Edit"><i class="fa fa-edit"></i></a>
                                                    <form action="/admin/promo-codes/delete/<%= promoCode.id %>"
                                                        method="POST" class="inline delete-form">
                                                        <button type="submit"
                                                            class="text-red-500 hover:text-red-700 icon-button"
                                                            title="Delete">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                                <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">
                                                    <%= promoCode?.id %>
                                                </td>
                                                <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">
                                                    <%= promoCode?.code %>
                                                </td>
                                                <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">
                                                    <%= promoCode?.discount %>
                                                </td>
                                                <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">
                                                    <%= promoCode?.type %>
                                                </td>
                                                <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">
                                                    <%=  moment(promoCode.start_date).format('DD/MM/YYYY') %>
                                                </td>
                                                <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">
                                                    <%= moment(promoCode.end_date).format('DD/MM/YYYY') %>
                                                </td>
                                                <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-900">
                                                    <input type="checkbox" class="status-checkbox" name="status"
                                                        data-id="<%= promoCode.id %>" <%=promoCode.status=="Active"
                                                        ? "checked" : "" %> />
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Footer -->
        <%- include("../partial/footer") %>

            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- DataTables JS -->
            <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
            <!-- SweetAlert2 JS -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

            <script>
                $(document).ready(function () {
                    // DataTable initialization
                    $("#promoCodesTable").DataTable({
                        pagingType: "full",
                    });

                    // Add a click event listener to delete buttons
                    $(".delete-form").on("submit", function (e) {
                        e.preventDefault();
                        const form = $(this);
                        Swal.fire({
                            title: "Are you sure?",
                            text: "You won't be able to revert this!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "Cancel",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                form.off("submit").submit();
                            }
                        });
                    });

                    $(".status-checkbox").on("change", function () {
                        const id = $(this).data("id");
                        const isChecked = $(this).is(":checked"); // Get the current checked status
                        $.ajax({
                            type: "POST",
                            url: "/admin/promo-codes/changestatus/" + id,
                            data: { status: isChecked ? "Active" : "Inactive" }, // Pass the new status
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Status Updated",
                                        text:
                                            response.message || "PromoCode status updated successfully!",
                                    });
                                }
                            },
                            error: function (xhr, status, error) {
                                Swal.fire({
                                    icon: "error",
                                    title: "Error",
                                    text: xhr.responseJSON?.message || "Something went wrong!",
                                });
                            },
                        });
                    });
                });
            </script>
</body>

</html>