<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head", { title: "Create Products" }) %>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.0/plugins/templates/dialogs/templates.min.css"
            integrity="sha512-wnSq9xWRZZ+edU6ZQXbEkxVh0LYC14YlUX81izxCc2mRrHBNjwHS6mz7rn1KMfyBuQv77ApGySQMhw8vyY6iAA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.0/ckeditor.js"
            integrity="sha512-qy5XxLQ56sbeV31D+eEIozHcy375unZgFty0fgsadpKMy58IV8FnvoO9e/eAY3UhEGB1BJSy6xCfsmGZtwWxWg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- Sidebar -->
    <%- include("../partial/sidebar") %>

        <!-- Main Content -->
        <div class="ml-0 md:ml-64 flex flex-col min-h-screen">
            <!-- Header -->
            <%- include("../partial/header") %>

                <!-- Main Content Area -->
                <div class="container mx-auto py-8 mt-5">
                    <div class="flex flex-col shadow-md mb-5 bg-white rounded-lg p-5">
                        <h1 class="text-4xl font-extrabold mb-4 text-gray-900">
                            Create Products
                        </h1>
                        <!-- Error Display -->
                        <div class="block my-1">
                            <% if(error.length> 0){ %>
                                <p class="text-red-700 text-xl font-bold my-2">
                                    <%= error %>
                                </p>
                                <% } %>
                        </div>

                        <form action="/admin/products/store" method="POST" enctype="multipart/form-data">
                            <!-- Title field -->
                            <div class="mb-4">
                                <label for="title" class="block text-sm font-medium text-gray-700">Title:</label>
                                <input id="title" name="title" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    value="<%= products?.title %>" required />
                            </div>

                            <!-- Type field -->
                            <div class="mb-4">
                                <label for="type" class="block text-sm font-medium text-gray-700">Type:</label>
                                <input id="type" name="type" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    value="<%= products?.type %>" />
                            </div>

                            <!-- Select availability field -->
                            <div class="mb-4">
                                <label for="availability" class="block text-sm font-medium text-gray-700">
                                    Select availability:
                                </label>
                                <select id="availability" name="availability"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="in_stock" <%=products?.availability=='in_stock' ? "selected" : "" %>
                                        >In Stock</option>
                                    <option value="out_stock" <%=products?.availability=='out_stock' ? "selected" : ""
                                        %>
                                        >Out Stock</option>
                                </select>
                            </div>

                            <!-- Select Sub Category field -->
                            <div class="mb-4">
                                <label for="sub_category_id" class="block text-sm font-medium text-gray-700">
                                    Select Sub Category:
                                </label>
                                <select multiple id="sub_category_id" name="sub_category_id[]"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option disabled>Choose Sub Category</option>
                                    <% subCategories.forEach(category=> { %>
                                        <option value="<%= category.id %>" <%=(products?.sub_category_id ||
                                            []).map(String).includes(String(category.id)) ? "selected" : "" %>>
                                            <%= category.name %>
                                        </option>
                                        <% }) %>
                                </select>
                            </div>

                            <!-- Images field -->
                            <div class="mb-4">
                                <label for="images" class="block text-sm font-medium text-gray-700">Images:</label>
                                <input id="images" name="images" type="file"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    multiple accept="image/*" />
                            </div>

                            <!-- alt_text field -->
                            <div class="mb-4">
                                <label for="alt_text" class="block text-sm font-medium text-gray-700">Alt Text:</label>
                                <input id="alt_text" name="alt_text" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    value="<%= products?.alt_text %>" />
                            </div>

                            <!-- Short Description field -->
                            <div class="mb-4">
                                <label for="short_desc" class="block text-sm font-medium text-gray-700">Short
                                    Description:</label>
                                <input id="short_desc" name="short_desc" type="text"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    value="<%= products?.short_desc %>" />
                            </div>

                            <!-- Description field (CKEditor) -->
                            <div class="mb-4">
                                <label for="description"
                                    class="block text-sm font-medium text-gray-700">Description:</label>
                                <textarea name="description" id="description"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"><%= products?.description %></textarea>
                            </div>

                            <div class="mb-4">
                                <label for="shorting" class="block text-sm font-medium text-gray-700">Add Tablets
                                    package
                                    Price:</label>
                                <table id="tabsTable" class="w-full table-auto border-collapse">
                                    <thead>
                                        <tr class="text-left border-b">
                                            <th class="px-4 py-2">Tab Size</th>
                                            <th class="px-4 py-2">Tab Price</th>
                                            <th class="px-4 py-2">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (products?.size && products.size.length> 0) { %>
                                            <% products?.size?.forEach((size, index)=> { %>
                                                <tr class="border-b">
                                                    <td class="px-4 py-2">
                                                        <input type="number" name="size[]" value="<%= size %>"
                                                            class="bg-gray-200 text-gray-800 p-2 rounded-lg w-full" />
                                                    </td>
                                                    <td class="px-4 py-2">
                                                        <input type="number" name="price[]"
                                                            value="<%= products?.price[index] %>"
                                                            class="bg-gray-100 dark:bg-gray-600 text-gray-800 dark:text-gray-200 p-2 rounded-lg w-full"
                                                            step="0.01" min="0" />
                                                    </td>
                                                    <td class="px-4 py-2">
                                                        <button type="button"
                                                            class="bg-red-600 text-white px-4 py-2 rounded-lg delete-row">
                                                            Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% }) } else { %>
                                                    <tr class="border-b">
                                                        <td class="px-4 py-2">
                                                            <input type="number" name="size[]" value=""
                                                                class="bg-gray-200 text-gray-800 p-2 rounded-lg w-full" />
                                                        </td>
                                                        <td class="px-4 py-2">
                                                            <input type="number" name="price[]" value=""
                                                                class="bg-gray-100 dark:bg-gray-600 text-gray-800 dark:text-gray-200 p-2 rounded-lg w-full"
                                                                step="0.01" min="0" />
                                                        </td>
                                                        <td class="px-4 py-2">
                                                            <button type="button"
                                                                class="bg-red-600 text-white px-4 py-2 rounded-lg delete-row">
                                                                Delete
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                    </tbody>
                                </table>
                                <button type="button" id="addRowBtn"
                                    class="mt-4 bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-lg">
                                    Add Row
                                </button>
                            </div>

                            <!-- Shorting field -->
                            <div class="mb-4">
                                <label for="shorting" class="block text-sm font-medium text-gray-700">Shorting:</label>
                                <input id="shorting" name="shorting" type="number"
                                    class="mt-1 block border p-1 w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                    value="<%= products?.shorting ?? 500 %>" />
                            </div>

                            <!-- most_selling field -->
                            <div class="mb-4 flex items-center">
                                <label for="most_selling" class="text-sm font-medium text-gray-700 mr-2">
                                    <b>Most Selling:</b>
                                </label>
                                <input type="checkbox" name="most_selling" id="most_selling"
                                    value="<%= products?.most_selling ?? true %>" class="w-5 h-5">
                            </div>

                            <!-- exclusive field -->
                            <div class="mb-4 flex items-center">
                                <label for="exclusive" class="text-sm font-medium text-gray-700 mr-2">
                                    <b>Exclusive:</b>
                                </label>
                                <input type="checkbox" name="exclusive" id="exclusive"
                                    value="<%= products?.exclusive ?? true %>" class="w-5 h-5">
                            </div>

                            <!-- featured field -->
                            <div class="mb-4 flex items-center">
                                <label for="featured" class="text-sm font-medium text-gray-700 mr-2">
                                    <b>Featured:</b>
                                </label>
                                <input type="checkbox" name="featured" id="featured"
                                    value="<%= products?.featured ?? true %>" class="w-5 h-5">
                            </div>
                            <button type="submit"
                                class="inline-flex items-end px-4 py-2 bg-blue-500 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:bg-blue-600 float-right">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
        </div>

        <!-- Footer -->
        <%- include("../partial/footer") %>

            <script>
                CKEDITOR.replace("description", {
                    extraPlugins: "justify,colorbutton,font",
                    toolbar: [
                        { name: "document", items: ["Source", "Preview", "Print"] },
                        { name: "clipboard", items: ["Cut", "Copy", "Paste", "Undo", "Redo"] },
                        { name: "basicstyles", items: ["Bold", "Italic", "Underline", "RemoveFormat"] },
                        { name: "paragraph", items: ["NumberedList", "BulletedList", "JustifyLeft", "JustifyCenter", "JustifyRight"] },
                        { name: "links", items: ["Link", "Unlink"] },
                        { name: "insert", items: ["Image", "Table", "Smiley", "SpecialChar"] },
                        { name: "styles", items: ["Styles", "Format", "Font", "FontSize"] },
                        { name: "colors", items: ["TextColor", "BGColor"] },
                        { name: "tools", items: ["Maximize"] },
                    ],
                    removeDialogTabs: "image:advanced;link:advanced",
                });

                // Add Row Logic
                document.getElementById("addRowBtn").addEventListener("click", () => {
                    const tableBody = document.querySelector("#tabsTable tbody");

                    // Create a new row
                    const newRow = document.createElement("tr");
                    newRow.classList.add("border-b");

                    // Add columns to the row
                    newRow.innerHTML = `
                        <td class="px-4 py-2">
                            <input type="number" name="size[]" value="" class="bg-gray-100 dark:bg-gray-600 text-gray-800 dark:text-gray-200 p-2 rounded-lg w-full" />
                        </td>
                        <td class="px-4 py-2">
                            <input type="number" name="price[]" value="" class="bg-gray-100 dark:bg-gray-600 text-gray-800 dark:text-gray-200 p-2 rounded-lg w-full" step="0.01" min="0" />
                        </td>
                        <td class="px-4 py-2">
                            <button type="button" class="bg-red-600 text-white px-4 py-2 rounded-lg delete-row">Delete</button>
                        </td>`;

                    // Append the new row to the table body
                    tableBody.appendChild(newRow);

                    // Attach delete event listener to the new delete button
                    newRow
                        .querySelector(".delete-row")
                        .addEventListener("click", (event) => {
                            event.target.closest("tr").remove();
                        });
                });

                // Delete Row Logic
                document.querySelectorAll(".delete-row").forEach((button) => {
                    button.addEventListener("click", (event) => {
                        const row = event.target.closest("tr");
                        row.remove();
                    });
                });
            </script>
</body>

</html>